GEMINI_API_KEY="AIzaSyAsdyl-8Yy--1N2nfs4-ksoDlLrGbDfAME"
DATABASE_URL='postgresql://neondb_owner:npg_Vlat61nMuQoB@ep-sweet-morning-aqgvtmy3-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
# RESEND_API_KEY=re_TdhQjYQF_MWF2iVWsm5QMAJhJHgZmnuPc

LIVEKIT_API_KEY=your_api_key
LIVEKIT_API_SECRET=your_api_secret
LIVEKIT_URL=wss://your-project-url.livekit.cloud
NEXT_PUBLIC_LIVEKIT_URL=wss://your-project-url.livekit.cloud